body {
    background-color: lightgray;
    font-family: 'Poppins', sans-serif;
}

header{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.left-header-container{
    padding: 15px;
    background-color: blueviolet;
    margin: 10px;
}

.right-header-container{
    text-align: center;
    width: 100%;
    background-color: blue;
    margin: 10px;
}

main{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}